
/*set border-box to that css uses a more reasonable box model*/

*, *::before, *::after{
	box-sizing: border-box;
}


/*gets rid of default margins*/
*
{
	margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1b1b1b;
    color: white;
}

h1, h2, h3{
    white-space: nowrap;
    font-weight: normal;
    text-align: center;
}



/*prevents these from expanding beyond its container and taking up a row*/
img, picture, video, canvas, svg
{
	display: block;
	max-width: 100%
}

/*makes tables look like spreadsheets and less like a spaced-out-grid*/

table{
	border-collapse: collapse;
	border-spacing: 0;
}

body
{
	max-width: 120ch;
	margin: auto;
}

a{
    text-decoration: none;
}

.return
{
    padding: 1%;
    width: 10%;
}

.return-link
{
    white-space: nowrap;
    font-size: 18px;
    padding: 5%;
    text-align: center;
    text-decoration: none;
}

.main-link
{
    display: flex;
    justify-content: center;
}

.logo
{
    display: flex;
    justify-content: center;
    padding: 1%;
}

.header
{
    padding: 5%;
}

.name{
    font-size: 36px;
    text-align: center;
    border-style: solid;
    border-color: rgb(23, 180, 160);
    border-radius: 5px;
    border-width: 5px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 2%;
}

.cambio
{
    border-style: solid;
    border-color: rgb(23, 180, 160);
    border-radius: 5px;
    border-width: 5px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.mainText {
   padding-left: 5%;
   padding-right: 5%;
}

.list-div
{
    display: flex;
    justify-content: center;
}

.intro
{
    text-align: left;
    margin: 3%;
    padding: 3%;
}

.links
{
    display: flex;
    justify-content: space-around;
}

.blocks {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 3%;

}

.horizontal {
    width: 280px;
    border-style: solid;
    border-color: rgb(23, 180, 160);
    border-radius: 5px;
    border-width: 5px;
}

.horizontal-1
{
    width: 25%;
}

.border
{
    border-style: solid;
    border-color: rgb(23, 180, 160);
    border-radius: 5px;
    border-width: 5px;
}

.link
{
    border-style: solid;
    border-color: rgb(23, 180, 160);
    border-radius: 5px;
    border-width: 5px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2%;
    display: flex;
    justify-content: center;
}

.videos
{
   display: flex;
   flex-direction: column;
   align-items: center;
    
}

.vid{
    width: 60%;
    padding: 5%;
}

.test-plan
{
    width: 70%;
    border-style: solid;
    border-color: rgb(23, 180, 160);
    border-radius: 5px;
    border-width: 5px;
}

.analysis-div
{
    padding-left: 5%;
    padding-right: 5%;
}

.analysis
{
    padding-left: 5%;
    padding-right: 5%;
}

.users
{
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-color: rgb(23, 180, 160);
    border-radius: 5px;
    border-width: 5px;

}

.users h2{
    text-align: left;
}

.summary
{
    padding: 5%;
}

.hvr-grow {
    
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  .hvr-underline-from-left {
    
    padding-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: rgb(23, 180, 160);
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

  .hvr-reveal {
    padding: 10%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color:rgb(23, 180, 160);
    border-style: solid;
    border-width: 0;
    -webkit-transition-property: border-width;
    transition-property: border-width;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: 5px;
    border-radius: 25px;
  }
